body{
    font-family: 'Work Sans', sans-serif;
    letter-spacing: 0.05rem;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Poppins', sans-serif; 
}

.home-button{
    position: fixed;
    padding: 1%;
    top: 90%;
    left: 90%;
    z-index: 3;
}

.header{
    background-color: blue;
}

.header > h1, h4{
    color: white;
    margin-left: 12%;
}

.header > h1{
    font-family: 'Dancing Script', cursive;
    font-size: 8vw;
    letter-spacing: 0.2rem;
}

.navbar-nav{
    margin-left: auto;
    text-transform: uppercase;
    margin-bottom: 5%;
}

.navbar-nav > li{
  font-weight: bold;
  margin-right: 22px;
  letter-spacing: 0.1em;
}

.navbar-nav > li:last-child{
  margin-left: 22px;
}

.header-button-section{
  margin-left: 10%;
  padding: 2%;
  color: black;
}

.btn > a{
  text-decoration: none;
  color: black;
}

.btn-primary > a{
  text-decoration: none;
  color: white;
}

.header-button{
  color: black;
}

.header-button:last-child{
  color: white;
}

.base-wave{
    position: relative;
    z-index: 1;
}

.wave{
    position: absolute;
}

.attribution-wave{
    position: absolute;
    z-index: -1;
}

.dark-section{
    background-color: #273036;
    color: white;
}

.light-p{
    color: gray;
    font-size: 1.2rem;
}

.attribution{
    text-align: center;
    font-size: 0.69rem;
    color: white;
    background-color: #273036;
}

.attribution-text{
    position: relative;
    color: white;
}

.profile-image{
    height: 320px;
    margin-left: 25%;
}

.about{
    text-align: center;
}

.about > p{
    margin-top: 1.2rem;
}

#achievements{
    background-color: blue;
    color: white;
}

.card-text{
    color: black;
}

.footer{
    padding-left: 4%;
    padding-bottom: 5%;	
}

i{
    color: white;
}

.footer > h1{
    padding: 16px;
    margin-left: 3%;
}

.submit-button{
    margin-top: 1.5%;
    margin-left: 2%;
}

.submit-text{
    margin: 0 10px;
}


